.contador {
    min-width: 300px;/*no width general para que se pueda estirar con numeros mas grandes*/
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid white;
    margin-bottom: 15px;
}