* {
    padding: 0;
    margin: 0;
    /*box-sixing es una propriedad que dice como se van a comportar las cajas de lo alto y de lo ancho*/
    box-sizing: border-box;
}

html,
body {
    background-color: #1b1b32; 
}

.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.freecodecamp-logo {
    height: 150px;
}

/*estilo para el contenedor principal que contiene botones y contador*/
.contenedor-contador {
    height: 550px;
    min-width: 600px; /*para que se pueda estirar*/
    display: flex;
    flex-wrap: wrap; /*para que cada elemento se quede en su linea*/
    flex-direction: column; /*para que se agrupe como una columna*/
    align-items: center;
    justify-content: center;
}